<div>
  {{#with user}}
    <h2>Welcome lord {{username}}!</h2>

    <p>This is your email: {{email}}</p>
    <p>This is your ugly potato head:</p>
    <img src='{{profilePicture}}' alt='' />
  {{/with}}
</div>